.projects-wrapper{
  text-align: center;
  padding: 20px 20px 30px;
}
.projects-container{
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  padding-bottom: 20px;
}
.project{
  width: 33%;
}
.project img{
  height: 132px;
  width: 226px;
}

@media screen and (max-width: 855px) {
  .projects-container{
    width: 100%;
  }
}
@media screen and (max-width: 703px) {
  .projects-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .project p{
    margin-top: 0px;
  }
  .project img{
    width: 300px;
    height: 200px;
    min-width: 226px;
    min-height: 132px;
  }
}